@import url("https://rsms.me/inter/inter.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Inter", sans-serif;
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(182, 182, 182);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(142, 142, 142);
}

/*  SKEW ITEMS */
@layer components {
  .first-div:hover > .next-div {
    @apply transform translate-x-0  transition-transform duration-200;
  }
}
